{
  "presets": ["next/babel"],
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "javascript",
          "css",
          "markup",
          "jsx",
          "tsx",
          "graphql",
          "bash",
          "git",
          "json"
        ],
        "plugins": []
      }
    ]
  ]
}
