---
type Props = {
  class?: string;
};

const { class: className } = Astro.props;
---

<span
  class:list={[
    "text-xl md:text-2xl font-bold tracking-tight text-gray-900 dark:text-gray-100",
    className,
  ]}
>
  kyrelldixon
</span>
