@tailwind base;
@tailwind components;

html {
  font-size: 18px;
}

.animate-gradient {
  background-size: 200% 200%;
  animation: flow 0.2s ease-in-out;
  color: rgba(255, 255, 255, 1);
  background-position: right;
}

.animate-gradient:hover {
  color: rgba(255, 255, 255, 0);
}

@media (prefers-color-scheme: light) {
  .animate-gradient {
    background-size: 200% 200%;
    animation: flow 0.2s ease-in-out;
    color: rgba(255, 255, 255, 0);
    background-position: right;
  }

  /* .animate-gradient:hover {
    color: rgba(255, 255, 255, 1);
  } */
}

.smooth-scroll {
  scroll-behavior: smooth;
}

@keyframes flow {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.text-blue-gradient {
  background-image: linear-gradient(30deg, #09f, #08f);
  background-clip: text;
}

.text-purple-gradient {
  background-image: linear-gradient(30deg, #85f, #9966ff);
  background-clip: text;
}

.text-teal-gradient {
  background-image: linear-gradient(30deg, #0cf, #0af);
  background-clip: text;
}

.text-green-gradient {
  background-image: linear-gradient(30deg, #0c8, #0d6);
  background-clip: text;
}

.text-yellow-gradient {
  background-image: linear-gradient(30deg, #fc0, #fc0);
  background-clip: text;
}

.text-red-gradient {
  background-image: linear-gradient(30deg, #f36, #f24);
  background-clip: text;
}

.grayscale {
  filter: grayscale(100%);
}

/* .kg-embed-card is for Ghost embeds. This displays Youtube videos nicely */

.kg-embed-card {
  position: relative;
  padding-bottom: 56.25%;
}

.kg-embed-card iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@tailwind utilities;
